.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  justify-content: center;
  color: #ffffff;
}

.qmark {
  padding-top: 2rem;
  text-align: right;
}

.qmark2 {
  width: 3rem;
  text-align: left;
}

li {
  text-align: center;
  padding-top: 12px;
  border-radius: 2px;
  background-color: none;
  width: 250px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 0.5rem;
  align-items: center;
}
