@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.quecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-width: 20rem; */
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes color {
  0% {
    background-color: #00d0ff;
  }
  25% {
    background-color: #e70dbf;
  }
  50% {
    background-color: #ec780b;
  }
  75% {
    background-color: #30d62d;
  }
  100% {
    background-color: #00d0ff;
  }
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: white;
}

.heading p {
  color: #8566ea;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waiting {
  background-color: #000;
}
.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
.timer {
  font-size: 2.5rem;
}
.question-card {
  margin: 0 auto;
  height: auto;
  /* min-width: 50%; */
  /* Visual  */
  /* background-color: rgb(255, 255, 255); */
  padding: 16px;
  border-radius: 16px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100vh;
}

ul {
  list-style: none;
}

.answersOptions {
  margin-top: 8px;
  padding: 6px;
  border: 3px solid rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.answersOptionsSelected {
  margin-top: 8px;
  padding: 6px;
  border: 3px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
}

.question-text {
  /* color: darkblue; */
  font-size: 24px;
}

/* Final Results  */

.final-results {
  width: 100vh;
  padding: 16px;
  border-radius: 16px;
  color: 7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.opt {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px;
  font-weight: bold; */

  border-radius: 24px;
}
#p {
  margin-right: 2%;
}
