.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 7px;
  margin-top: 90px;
  padding: 0 20px;
  color: white;
}

#Qform {
  width: 100%;
}
.quiz-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.quiz-wrapper .main {
  width: 100%;
  padding-top: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.quiz-wrapper .main .header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 2.3em;
}

.quiz-wrapper .form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.quiz-wrapper .select {
  margin-top: 20px;
}
.quiz-wrapper .checkbox {
  margin-top: 30px;
  color: rgb(110, 108, 108);
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

.quiz-wrapper .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.quiz-wrapper .add-question {
  margin-bottom: 60px;
  margin-top: 10px;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 20%);
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em !important;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.qq {
  width: 90%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.ans {
  width: 93%;
  padding: 10px;
  margin-top: 11px;
  margin-left: 6px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.add-question:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.add-answer {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em;
  margin: 30px 0;
  cursor: pointer;
}

.answer-form {
  display: grid;
  grid-template-columns: 10px 300px;
  grid-template-rows: auto;
}

.quiz-wrapper .btn-wrapper {
  display: flex;
  align-items: center;
}

.quiz-wrapper .btn-wrapper .btn:nth-child(2) {
  color: white;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px !important;
  margin-left: 130px;
  background-color: rgb(12, 92, 32);
  width: 90px;
}
.quiz-wrapper .btn-wrapper .btn:first-child {
  background-color: red;
  color: white;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  margin-left: 0;
  border-radius: 10px !important;
  width: 90px;
}

.question {
  display: grid;
  grid-template-columns: 25% 30% 22% 23%;
  grid-template-rows: 50px;
  position: relative;
  background-color: #eff0f1;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  border-left: 5px solid #00aaf1;
}

.quiz-wrapper .question div {
  margin-right: 40px;
}
.quiz-wrapper .question .delete {
  position: absolute;
  right: 10px;
  background-color: red;
  border-radius: 10px !important;
  color: white;
  padding: 8px;
  width: 70px;
  margin-top: 0.8%;
}

.quiz-wrapper .question .edit {
  position: absolute;
  right: 80px;
  background-color: #00aaf1;
  border-radius: 10px !important;
  color: white;
  padding: 8px;
  width: 70px;
  margin-top: 0.8%;
}

.quiz-wrapper .save-quiz {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em !important;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: black;
}
